*{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(211, 199, 199);
}
h1{
    color:rgb(180, 34, 34);
}

#food {
    width: 600px;
    height: auto;
}
